<launch>
    <param name="/mask_rcnn/debug_mode" value="0"/>
    <node pkg="mask_rcnn_ros" name="mask_rcnn" type="mask_rcnn_old.py" output="screen"/>
    <!--<node pkg="mask_rcnn_ros" name="mask_rcnn_utils" type="mask_rcnn_utils.py" output="screen"/>-->
    <node pkg="mask_rcnn_ros" name="mask_region_growing" type="mask_region_growing_old" output="screen"/>
</launch>
